@import "../variables";

.popup-container {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .popup {
        position: absolute;
        padding: 1rem;
        background: lighten($primary-color, 50%);
        margin: 0.5rem 0;
        z-index: 100;
    
        &::before {
            border-bottom: lighten($primary-color, 50%) solid 0.5rem;
            border-left: transparent solid 0.5rem;
            border-right: transparent solid 0.5rem;
            position: absolute;
            top: -0.5rem;
            content: "";
        }
    }
}
