@import "../variables";

.gallery {
    .focussed-image {
        height: 18em;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .thumbnail-list {
        padding: 1em;
        overflow: auto;
        display: flex;

        .thumbnail {
            margin: 1em;
            display: inline-block;
            
            img {
                height: 6em;
                cursor: pointer;
            }
        }
    }
}
